<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <packageSources>
        <add key="LocalPluginZipPacking" value=".\NGame.Plugin.ZipPacking\bin\Release" />
        <add key="LocalPluginZipPackingTask" value=".\NGame.Plugin.ZipPacking.Task\bin\Release" />
    </packageSources>

</configuration>
